.icon-shopping_cart {
    font-size: 25px !important;
}

.nav-link {
    font-size: 14px !important;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #0080FF;
    border-radius: 10px;
    margin-bottom: 25px;
}

#icon-notification {
    font-size: 22px;
    color: #000;
    margin-top: 2px;
}

#detail-notify {
    overflow: auto;
    max-height: 245px;
}

#detail-notify::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
}

#detail-notify::-webkit-scrollbar-thumb {
    background-color: #6c757d;
}

.nav-link {
    letter-spacing: 0.5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#dropdown04 {
    text-transform: none !important;
}

.unread {
    background-color: #6495ed !important;
}

.unread:hover {
    color: #fff !important;
    background-color: #0000cd !important;
}
