.wrap-user-order-history-by-status-page .hero-bread {
    background-image: url('../bower_components/bower_project1/user/images/bg_6.jpg');
}

.wrap-user-order-history-by-status-page .group-tabs {
    margin-top: 30px;
    min-height: 250px;
}

.wrap-user-order-history-by-status-page .group-tabs a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

.wrap-user-order-history-by-status-page .group-tabs li {
    float: left;
    width: 10%;
    display: inline-block;
}

.wrap-user-order-history-by-status-page .group-tabs .nav {
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
}

.wrap-user-order-history-by-status-page .group-tabs .nav-pills {
    width: 100%;
    display: inline-block;
}

.wrap-user-order-history-by-status-page .group-tabs .nav-pills>li.active>a {
    color: #fff;
    background-color: #337ab7;
}

.wrap-user-order-history-by-status-page .group-tabs .nav-pills>li.active>a:hover {
    cursor: pointer;
}

.wrap-user-order-history-by-status-page .group-tabs .nav-pills>li>a {
    border-radius: 5px;
}

.wrap-user-order-history-by-status-page .group-tabs .nav>li>a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}
